# Google Service Account Credentials
GOOGLE_CREDS_PATH=credentials.json

# Google Spreadsheet IDs
ASSETS_SHEET_ID=1q7hd3kkj_iAvzQW7o-IXvhCEskh5iaLNP66kLzpk4h8
ASSETS_SHEET_NAME="СР"
DEPARTMENTS_SHEET_ID=1N45PcHU-YgpcYEyXDbQRCG94I-BWbrultIyqRr5Z4N8
DEPARTMENTS_SHEET_NAME="Department"

# Google Drive
SHARED_DRIVE_ID=0AA1wCLB8zuqdUk9PVA
